<footer class="uk-section uk-section-muted uk-section-small footer">
    <div class="footer-content uk-container">
      <div class="footer-links uk-flex uk-flex-center uk-grid-small" uk-grid>
        <a href="index.html" uk-scroll>Getting Started</a>
        <a href="docs.html" uk-scroll>Documentation</a>
        <a href="https://github.com/frncsvn1030/quix-core-ui-library.git" target="_blank">Github</a>
        <a href="#">Contact Us</a>
      </div>
      <p class="uk-text-center">Qstrike UIUX Interns Project &copy; 2025</p>
    </div>
</footer>