<nav class="navbar-docs uk-navbar-container">
    <div class="uk-container uk-container-xlarge">
      <div uk-navbar>
          <div class="uk-navbar-left">

              <a class="uk-navbar-toggle uk-hidden@m" uk-toggle="target: #offcanvas-slide">
                <span uk-navbar-toggle-icon></span>
              </a>

              <a class="uk-navbar-item uk-logo" href="index.html" aria-label="Back to Home">
                  <img src="./imgs/logo.png" alt="Quix Core UI Logo" style="height: 52px;">
              </a>
          </div>

          <div class="uk-navbar-center uk-visible@m">
              <form action="javascript:void(0)">
                  <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: search"></span>
                      <input class="search uk-input uk-width-1-1" type="text" placeholder="Type keywords..." aria-label="Type keywords">
                  </div>
              </form>
          </div>

          <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                  <li>
                      <a href="docs.html" uk-scroll>Documentation</a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="./imgs/github-logo.png" alt="GitHub" style="height: 23px; width: 23px; vertical-align: middle; margin-right: 6px;">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </nav>