@import '../abstracts/variables';
@import '../abstracts/mixins';

.docs {
    min-height: 100vh;
}

.left-sidebar, .right-sidebar {
    position: sticky;
    height: 100vh;
    top: 80px;
    padding: 2rem 0;
}

.left-sidebar {
    border-right: 1px dotted #DEDEDE;

    ul {

        .all-components-btn a, li a {
            color: $text-muted;
            text-decoration: none;
            padding-left: 10px;

            &:hover {
                @include font-style(null, null, $font-weight-medium, $purple-400);
                background-color: $purple-10;
                border-radius: 5px
            }
        }

        .uk-nav-header {
            @include font-style(null, null, $font-weight-medium, $text-default);
            padding-left: 10px;
        }
        
    }     
}

.right-sidebar {
    border-left: 1px dotted #DEDEDE;
}

.docs-content {
    padding: 2rem 0;

   
}

@media (min-width: 1000px) {
    .left-sidebar, .right-sidebar {
        padding: 2rem 0;
    }

    .docs-content {
        padding: 2rem 2.5rem;
    }  
}
  
@media (min-width: 1200px) {
    .left-sidebar, .right-sidebar {
        padding: 3rem 0;
    }

    .docs-content {
      padding: 3rem 4rem;
    }  
}