@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer {
    background-color: $purple-10 !important;
    padding: 30px 0 10px;
    font-family: $inter;
    font-size: 14px;
    @include font-style($inter, 16px, null, $text-footer !important);
  
    .footer-content {
      display: flex;
      flex-direction: column;
      gap: 20px;    
      
      .footer-links {
        display: flex;
        gap: 35px;
    
        a {
          color: $text-footer;
          text-decoration: none;
          transition: color 0.3s;
    
          &:hover {
            color: $purple-300;
          }
        }
      }
    }
  }


  // .sidebar {
  //   position: fixed;
  //   width: 240px; // or adjust to your layout
  //   height: 100vh;
  //   overflow-y: auto;
  //   background-color: #fff; // or any bg color you like
  //   border-right: 1px solid #e5e5e5;
  //   padding: 1rem;
  
  //   // Optional styling for the list
  //   ul.uk-tab-left {
  //     li.uk-disabled a {
  //       font-weight: bold;
  //       color: #666;
  //       text-transform: uppercase;
  //       font-size: 12px;
  //     }
  
  //     li a {
  //       padding: 8px 12px;
  //       display: block;
  //       color: #333;
  //       &:hover {
  //         background-color: #f4f4f4;
  //       }
  //     }
  
  //     li.uk-active a {
  //       background-color: #eee;
  //       font-weight: bold;
  //     }
  //   }
  // }
  
  /* Sidebar fix */
.sidebar {
  position: fixed;
  top: 100px;

  height: 100vh;
 
  overflow-y: auto;

  background-color: #ffffff;
  border-right: 1px solid #e5e5e5;
  z-index: 1000;
}

/* Push the main content away from the fixed sidebar */
.haha {
  margin-left: 500px!important; /* same as sidebar width */
  padding: 2rem; /* optional, for spacing */
}
