@import '../abstracts/variables';
@import '../abstracts/mixins';

.main-content {
        padding-top: 8vw;
        padding-bottom: 8vw;
    
    h2 {
        @include font-style($poppins, 40px, $font-weight-semi-bold, $text-default);
        @include responsive-font-size(36px, 28px);
    }

    span {
        @include text-purple;
    }

    p, li {
        @include font-style($poppins, 18px, null, $text-muted);
        @include responsive-font-size(16px, 14px);
    }

    .icon-circle {
        background-color: $purple-300;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        min-width: 38px;
        margin-right: 23px;

        span[uk-icon] {
            color: $white !important;
        }
    }  
    
    
    .components {
        padding-top: 8vw;
        
        .component-card {
            background-color: $white;
            border-radius: 12px;
            border: 1px solid #eeeeee;
            text-align: center;
            transition: transform 0.3s ease;
            box-shadow: 0 10px 20px rgba(150, 100, 255, 0.1);

            .component-img {
                border-radius: 12px 12px 0 0;
            }
          }
      
          .component-card:hover {
            transform: translateY(-8px);
          }
    }
}

.footer {
  background-color: $purple-10 !important;
  padding: 30px 0 10px;
  font-family: $inter;
  font-size: 14px;
  @include font-style($inter, 16px, null, $text-footer !important);

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
    .footer-links {
      display: flex;
      gap: 35px;
  
      a {
        color: $text-footer;
        text-decoration: none;
        transition: color 0.3s;
  
        &:hover {
          color: $purple-300;
        }
      }
    }
  }
}
 