@import '../abstracts/variables';
@import '../abstracts/mixins';

.main-content {
        padding-top: 8vw;
        padding-bottom: 8vw;

    
    h2 {
        @include font-style($poppins, 40px, $font-weight-semi-bold, $text-default);
        @include responsive-font-size(36px, 28px);
    }

    span {
        @include text-purple;
    }

    p, li {
        @include font-style($poppins, 18px, null, $text-muted);
        @include responsive-font-size(16px, 14px);
    }

    .icon-circle {
        background-color: $purple-300;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        min-width: 38px;
        margin-right: 23px;

        span[uk-icon] {
            color: $white !important;
        }
    }  
    
    .components {
        padding-top: 8vw;
        
        .component-card {
            background-color: $white;
            border-radius: 12px;
            border: 1px solid $border-light-gray;
            text-align: center;
            transition: transform 0.3s ease;
            box-shadow: 0 10px 20px rgba(150, 100, 255, 0.1);

            .component-img {
                border-radius: 12px 12px 0 0;
            }
          }
      
          .component-card:hover {
            transform: translateY(-8px);
          }

          a {
            text-decoration: none;
          }

    }
}

.uk-tab {
  background-color: #F7F7F7;
  border-radius: 8px;
  overflow: hidden;
  list-style: none;
  border-bottom:none;

  li {
    padding: 6px;
    border-radius: 6px;

    a {
        padding: 8px 10px !important;
        border: none;
        text-transform: none;

        &:hover {
            background-color: $white;
            border-radius: 3px;
        }
    }
    
    &.uk-active {
        a {
            background-color: $white;
            border-radius: 3px;
            color: $text-default;
            font-weight: $font-weight-medium;
            box-shadow: 0 1px 3px rgba(0,0,0,0.08);
            border: none;
        }
    }
  }
}