.navbar, .navbar-docs {
    background-color: $white!important;

    li a {
        font-family: $poppins;
    }

    .search {
        border-radius: 999px;
    }
}

.navbar-docs {
    border-bottom: 1px dotted $border-gray;
}
