@mixin font-style($family: null, $size: null, $weight: null, $color: null) {
    @if $family != null {
      font-family: $family, sans-serif;
    }
    @if $size != null {
      font-size: $size;
    }
    @if $weight != null {
      font-weight: $weight;
    }
    @if $color != null {
      color: $color;
    }
  }

@mixin text-purple {
  color: $purple-300;
}

@mixin responsive-font-size($md-size, $sm-size) {
  @media (max-width: 768px) {
    font-size: $md-size;
  }

  @media (max-width: 480px) {
    font-size: $sm-size;
  }
}

@mixin quix-button-states($hover-color, $active-color, $focus-color) {
  &:hover:not(:disabled):not(.qx-btn-disabled) {
    background-color: $hover-color;
    color: $white;
  }

  &:active:not(:disabled):not(.qx-btn-disabled) {
    background-color: $active-color;
    color: $white;
  }

  &:focus-visible:not(:disabled):not(.qx-btn-disabled) {
    // background-color: $focus-color;
    outline: none;
    box-shadow: 0 0 0 3px rgba($focus-color, 0.5);
  }
}
