// theme pallete
$purple-400: #390B87;           
$purple-300: #440D9F;               
$purple-200: rgba($purple-300, 0.7); 
$purple-100: rgba($purple-300, 0.3);  
$purple-50:  rgba($purple-300, 0.1);  
$purple-10: rgba($purple-300, 0.05);

// text color (dark)
$text-default: #18181B;
$text-muted: #464649;
$text-disabled: #A1A1AA;
$text-softest: #D4D4D8;
$text-footer: #555555;

$white: #FFFFFF;
$black: #000000;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// font family
$poppins: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;


// border color 
$border-gray: #e0e0e0;
$border-light-gray: #eeeeee;
$light-gray: #f0f0f0;

