// theme pallete
$purple-400: #390B87;
$purple-300: #440D9F;
$purple-200: rgba($purple-300, 0.7);
$purple-100: rgba($purple-300, 0.3);
$purple-50: rgba($purple-300, 0.1);
$purple-10: rgba($purple-300, 0.05);

// text color (dark)
$text-default: #18181B;
$text-muted: #464649;
$text-disabled: #A1A1AA;
$text-softest: #D4D4D8;
$text-footer: #555555;

$white: #FFFFFF;
$black: #000000;

// border color 
$border-gray: #e0e0e0;
$border-light-gray: #eeeeee;
$light-gray: #f0f0f0;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// font family
$poppins: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;
$default: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


//padding
$padding-sm: 6px 12px;
$padding-md: 8px 16px;
$padding-lg: 12px 24px;

//corner radius
$border-radius-sm: 2px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-pill: 9999px;


//BUTTON COMPONENT

//secondary palette
$teal-400: #0F7A75;
$teal-300: #14B8A6;
$teal-200: rgba($teal-300, 0.7);
$teal-100: rgba($teal-300, 0.3);
$teal-50: rgba($teal-300, 0.1);

//success palette
$green-400: #107430;
$green-300: #138636;
$green-200: rgba($green-300, 0.7);
$green-100: rgba($green-300, 0.3);
$green-50: rgba($green-300, 0.1);

//warning palette
$orange-400: #E6A800;
$orange-300: #FFBC11;
$orange-200: rgba($orange-300, 0.7);
$orange-100: rgba($orange-300, 0.3);
$orange-50: rgba($orange-300, 0.1);

//error palette
$red-400: #AB112B;
$red-300: #C91432;
$red-200: rgba($red-300, 0.7);
$red-100: rgba($red-300, 0.3);
$red-50: rgba($red-300, 0.1);

//info palette
$blue-400: #3E649E;
$blue-300: #4976BA;
$blue-200: rgba($blue-300, 0.7);
$blue-100: rgba($blue-300, 0.3);
$blue-50: rgba($blue-300, 0.1);