@import '../abstracts/variables';
@import '../abstracts/mixins';

.qx-btn {
  @include font-style(null, 16px, $font-weight-semi-bold, $text-default);
  padding: $padding-md;
  border: none;
  background: none;
  cursor: pointer;

  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.5em;

}

.qx-btn-icon svg {
  height: 20px;
  width: 20px;
  fill: $white;
}