<div class="uk-margin-large-left">
  <div class="uk-nav-header uk-padding-small uk-padding-remove-left uk-padding-remove-top">On This Page</div>
    <nav class="sidebar-progress-container">
      <ul class="sidebar-nav uk-nav uk-nav-default">
        <div class="progress-track">
          <div class="progress-fill" id="progressFill"></div>
        </div>
        <li><a href="#base" class="nav-link">Base</a></li>
        <li><a href="#variants" class="nav-link">Variants</a></li>
        <li><a href="#outline" class="nav-link">Outline</a></li>
        <li><a href="#inverted" class="nav-link">Inverted</a></li>
        <li><a href="#disabled" class="nav-link">Disabled</a></li>
        <li><a href="#loader" class="nav-link">Loader</a></li>
        <li><a href="#icon" class="nav-link">With Icon</a></li>
        <li><a href="#sizes" class="nav-link">Size Modifiers</a></li>
        <li><a href="#shapes" class="nav-link">Shapes</a></li>
        <li><a href="#full-width" class="nav-link">Full Width</a></li>
      </ul>
    </nav>
</div>