@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.qx-btn {
  @include font-style($default, 16px, $font-weight-medium, $text-default);
  padding: $padding-md;
  border: none;
  background: none;
  cursor: pointer;
}

.qx-btn-icon i {
  fill: currentColor;
  margin-right: 3px;
}