@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.qx-btn-primary-inverted{
  @include font-style (null, null, null, $purple-300);
  background-color: $purple-50;
  border: none;
  @include quix-button-states($purple-300, $purple-400, $purple-200);
}

.qx-btn-secondary-inverted {
  @include font-style (null, null, null, $teal-300);
  background-color: $teal-50;
  border: none;
  @include quix-button-states($teal-300, $teal-400, $teal-200);
}

.qx-btn-success-inverted {
  @include font-style (null, null, null, $green-300);
  background-color: $green-50;
  border: none;
  @include quix-button-states($green-300, $green-400, $green-200);
}

.qx-btn-warning-inverted {
  @include font-style (null, null, null, $orange-300);
  background-color: $orange-50;
  border: none;
  @include quix-button-states($orange-300, $orange-400, $orange-200);
}

.qx-btn-error-inverted {
  @include font-style (null, null, null, $red-300);
  background-color: $red-50;
  border: none;
  @include quix-button-states($red-300, $red-400, $red-200);
}

.qx-btn-info-inverted {
  @include font-style (null, null, null, $blue-300);
  background-color: $blue-50;
  border: none;
  @include quix-button-states($blue-300, $blue-400, $blue-200);
}