@import '../abstracts/variables';
@import '../abstracts/mixins';

.qx-btn-sm {
  padding: $padding-sm;
  font-size: 14px;
}

.qx-btn-md {
  padding: $padding-md;
  font-size: 16px;
}

.qx-btn-lg {
  padding: $padding-lg;
  font-size: 18px;
}