@import '../../abstracts/variables';
@import '../../abstracts/mixins';

.qx-btn-primary{
  @include font-style (null, null, null, $white);
  background-color: $purple-300;
  border: none;
  @include quix-button-states($purple-200, $purple-400, $purple-200);
}

.qx-btn-secondary {
  @include font-style (null, null, null, $white);
  background-color: $teal-300;
  border: none;
  @include quix-button-states($teal-200, $teal-400, $teal-200);
}

.qx-btn-success {
  @include font-style (null, null, null, $white);
  background-color: $green-300;
  border: none;
  @include quix-button-states($green-200, $green-400, $green-200);
}

.qx-btn-warning {
  @include font-style (null, null, null, $white);
  background-color: $orange-300;
  border: none;
  @include quix-button-states($orange-200, $orange-400, $orange-200);
}

.qx-btn-error {
  @include font-style (null, null, null, $white);
  background-color: $red-300;
  border: none;
  @include quix-button-states($red-200, $red-400, $red-200);
}

.qx-btn-info {
  @include font-style (null, null, null, $white);
  background-color: $blue-300;
  border: none;
  @include quix-button-states($blue-200, $blue-400, $blue-200);
}