* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif !important;
  color: #18181b;
}

.banner {
  position: relative;
  background-color: rgba(68, 13, 159, 0.05);
  min-height: 71.67vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 80px 0;
}
@media (max-width: 1200px) {
  .banner {
    min-height: 60vh;
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .banner {
    min-height: 50vh;
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .banner {
    min-height: 40vh;
    padding: 40px 0;
  }
}
.banner.with-background {
  background-image: url("/imgs/qstrike-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-position: 100px center;
}
@media (max-width: 1200px) {
  .banner.with-background {
    background-position: center;
  }
}
@media (max-width: 768px) {
  .banner.with-background {
    background-position: center;
    background-size: 650px auto;
  }
}
.banner .banner-info {
  position: relative;
  z-index: 2;
}
.banner .banner-info h1 {
  font-weight: 700;
  font-size: 48px;
  color: #18181B;
}
.banner .banner-info h1 span {
  color: #440D9F;
}
@media (max-width: 768px) {
  .banner .banner-info h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .banner .banner-info h1 {
    font-size: 28px;
  }
}
.banner .banner-info p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .banner .banner-info p {
    font-size: 16px;
  }
}
.banner .banner-info .get-started-btn,
.banner .banner-info .see-components-btn {
  display: inline-block;
  height: 52px;
  font-size: 16px;
  font-family: "Poppins", sans-serif !important;
  border: none;
  border-radius: 999px;
  font-weight: 500;
  color: #18181B;
  cursor: pointer;
  text-transform: none !important;
}
@media (max-width: 480px) {
  .banner .banner-info .get-started-btn,
  .banner .banner-info .see-components-btn {
    height: 46px;
    font-size: 14px;
  }
}
.banner .banner-info .get-started-btn {
  background-color: #440D9F;
  color: #FFFFFF;
  margin-right: 10px;
}
.banner .banner-info .see-components-btn {
  background-color: #FFFFFF;
}
.banner .banner-image {
  position: absolute;
  bottom: 0;
  right: -300px;
  width: 100%;
  max-width: 1100px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1901px) {
  .banner .banner-image {
    right: -200px;
    max-width: 1100px;
  }
}
@media (min-width: 1601px) and (max-width: 1900px) {
  .banner .banner-image {
    right: -450px;
    max-width: 1300px;
  }
}
@media (min-width: 1348px) and (max-width: 1600px) {
  .banner .banner-image {
    right: -500px;
    max-width: 1200px;
  }
}
@media (min-width: 1201px) and (max-width: 1347px) {
  .banner .banner-image {
    right: -550px;
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  .banner .banner-image {
    display: none;
  }
}
.banner .banner-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: -20px -15px 30px rgba(68, 13, 159, 0.08), 0px 10px 30px rgba(255, 255, 255, 0.15);
}

.navbar {
  background-color: #FFFFFF !important;
}
.navbar li a {
  font-family: "Poppins", sans-serif !important;
}
.navbar .search {
  border-radius: 999px;
}/*# sourceMappingURL=index.css.map */