* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: #18181b;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 71.67vh;
  padding: 80px 0;
  background-color: #EDE7F6;
}
@media (max-width: 1200px) {
  .banner {
    min-height: 60vh;
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .banner {
    min-height: 50vh;
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .banner {
    min-height: 40vh;
    padding: 40px 0;
  }
}
.banner.with-background {
  background-image: url("/imgs/qstrike-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100px center;
}
@media (max-width: 1200px) {
  .banner.with-background {
    background-position: center;
  }
}
@media (max-width: 768px) {
  .banner.with-background {
    background-position: center;
    background-size: 650px auto;
  }
}
.banner .banner-info {
  position: relative;
  z-index: 2;
}
.banner .banner-info h1 {
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #18181B;
}
@media (max-width: 768px) {
  .banner .banner-info h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .banner .banner-info h1 {
    font-size: 28px;
  }
}
.banner .banner-info h1 span {
  color: #440D9F;
}
.banner .banner-info p {
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 18px;
  color: #464649;
}
@media (max-width: 768px) {
  .banner .banner-info p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .banner .banner-info p {
    font-size: 14px;
  }
}
.banner .banner-info .get-started-btn,
.banner .banner-info .see-components-btn {
  display: inline-block;
  height: 52px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  text-transform: none !important;
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #18181B;
}
@media (max-width: 480px) {
  .banner .banner-info .get-started-btn,
  .banner .banner-info .see-components-btn {
    height: 46px;
    font-size: 14px;
  }
}
.banner .banner-info .get-started-btn {
  background-color: #440D9F;
  color: #FFFFFF;
  margin-right: 10px;
}
.banner .banner-info .see-components-btn {
  background-color: #FFFFFF;
}
.banner .banner-image {
  position: absolute;
  bottom: 0;
  right: -300px;
  width: 100%;
  max-width: 1100px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1601px) and (max-width: 1900px) {
  .banner .banner-image {
    right: -500px;
    max-width: 1300px;
  }
}
@media (min-width: 1348px) and (max-width: 1600px) {
  .banner .banner-image {
    right: -450px;
    max-width: 1200px;
  }
}
@media (min-width: 1201px) and (max-width: 1347px) {
  .banner .banner-image {
    right: -550px;
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  .banner .banner-image {
    display: none;
  }
}
.banner .banner-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: -20px -15px 30px rgba(68, 13, 159, 0.08), 0px 10px 30px rgba(255, 255, 255, 0.15);
}

.navbar {
  background-color: #FFFFFF !important;
}
.navbar li a {
  font-family: "Poppins", sans-serif;
}
.navbar .search {
  border-radius: 999px;
}

.main-content {
  padding-top: 8vw;
  padding-bottom: 8vw;
}
.main-content h2 {
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #18181B;
}
@media (max-width: 768px) {
  .main-content h2 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .main-content h2 {
    font-size: 28px;
  }
}
.main-content span {
  color: #440D9F;
}
.main-content p, .main-content li {
  font-family: "Poppins", sans-serif, sans-serif;
  font-size: 18px;
  color: #464649;
}
@media (max-width: 768px) {
  .main-content p, .main-content li {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .main-content p, .main-content li {
    font-size: 14px;
  }
}
.main-content .icon-circle {
  background-color: #440D9F;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  min-width: 38px;
  margin-right: 23px;
}
.main-content .icon-circle span[uk-icon] {
  color: #FFFFFF !important;
}
.main-content .components {
  padding-top: 8vw;
}
.main-content .components .component-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #eeeeee;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(150, 100, 255, 0.1);
}
.main-content .components .component-card .component-img {
  border-radius: 12px 12px 0 0;
}
.main-content .components .component-card:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #EDE7F6;
}
.footer h4 {
  font-weight: 500;
  color: #464649 !important;
  text-align: left;
}
.footer p, .footer a {
  color: #4A4A4A;
  text-align: left;
}
.footer ul.uk-list {
  text-align: left;
}
.footer .uk-grid-medium > div {
  text-align: left;
}
.footer .credits p, .footer .credits a {
  color: #777777;
  text-align: center;
}/*# sourceMappingURL=index.css.map */